@model ExrWeb.Models.Exercise

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Exercise";
}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

}

<h2>@ViewBag.Title</h2>

    @Html.Partial("props", Model)

    <br />



