@using ExrWeb.Models
@model List<ExrWeb.Models.Exercise>

@{
    ViewBag.Title = "List";
}

<h2>Exercise List</h2>
<table>

    @foreach (Exercise ex in Model)
    {
        <tr>
            <td>@ex.Machine</td>
            <td>@ex.NumReps</td>
            <td>@ex.ExDate</td>
        </tr>
    }

</table>

